@using AnyIDAdmin.Models
@{
    string languageCode = ViewData[ViewConstant.CreateRegistry.LanguageCode] == null ? "th-TH" : ViewData["LanguageCode"].ToString();
    ViewBag.Title = "Create Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AnyIDModel.Customer data = (ViewData["Cust_Data"] == null ? null : (AnyIDModel.Customer)ViewData[ViewConstant.CreateRegistry.CustomerData]);
    IList<AnyIDModel.AccountProxy> anyID_Data = (ViewData["AnyID_Data"] == null ? null : (List<AnyIDModel.AccountProxy>)ViewData["AnyID_Data"]);
    IList<iSabaya.BankAccount>dataAcc = (ViewData["AccFunding_Data"] == null ? null : (IList<iSabaya.BankAccount>)ViewData["AccFunding_Data"]);

    bool isPerson = true;
    AnyIDModel.Person person_Data = null;
    AnyIDModel.Organization org_Data = null;
    if (data == null)
    {
        data = new AnyIDModel.Person() { IDType = AnyIDModel.IDType.I, BirthDate = new DateTime(1, 1, 1) };
        person_Data = (AnyIDModel.Person)data;
    }
    else
    {
        isPerson = (data is AnyIDModel.Person);
        person_Data = (data is AnyIDModel.Person ? (AnyIDModel.Person)data : null);
        org_Data = (data is AnyIDModel.Person ? null : (AnyIDModel.Organization)data);
    }

    bool isStillNATID = false;
    // หา AccountProxy ที่ใช้งานได้ ที่ถูกสมัครด้วย NATID
    if (anyID_Data != null) { isStillNATID = anyID_Data.Any(x => x.AnyID.IDType == AnyIDModel.AnyIDType.NATID && x.Status == AnyIDModel.EntityStatus.Active); }
    if (anyID_Data != null) { isStillNATID = isStillNATID || anyID_Data.Any(x => x.AnyID.IDType == AnyIDModel.AnyIDType.NATID && x.KKRequiredStateDescription == "อยู่ระหว่างรออนุมัติ"); }
}

@if (ViewData["ExceptionOnLoad"] != null){<span style="font-family:ClanOT_Narrow;font-size:14px;color:red;">@Html.Raw(ViewData["ExceptionOnLoad"].ToString())</span>}
else if (ViewData["InsufficientPrivilege"] != null)
{
    @section PageHead{
        <script type="text/javascript">
            $(document).ready(function () {
                window.location.replace('@ViewData["PrevScreen"].ToString()');
            });
        </script>
    }
}
else
{
    @section PageHead{
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/datatables.min.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/isabayaDataTable.css")">
        <script type="text/javascript" src="@Url.Content("~/Scripts/datatables.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/isabayaDataTable.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.js")"></script>
        <style type="text/css">
            .page-SelFontEN {
                font-family: ClanOT_Narrow;
                font-size: 14px;
            }

                .page-SelFontEN option {
                    font-family: ClanOT_Narrow;
                    font-size: 14px;
                }

            .page-borderGray {
                border-style: inset;
                border-color: gray;
            }

            .page-cell td {
                padding: 5px;
            }

            .page-table {
                width: 100%;
            }

                .page-table td {
                    padding: 5px;
                }

            .page-validate {
                height: 30px;
                position: absolute;
                border: 1px ridge gray;
                background-color: #D9534F;
                float: right;
                margin-left: 215px;
            }
        </style>
        <script type="text/javascript">
            var LoG = { EmptyTableText: "ไม่มีข้อมูล", InfoText: "จำนวนรายการที่พบ _TOTAL_ รายการ แสดงผลหน้าที่ _PAGE_ จาก _PAGES_", InfoEmptyText: "จำนวนรายการที่พบ 0 รายการ แสดงผลหน้าที่ 1 จาก 1" };
            var imgUrl = "@Url.Content("~/Images/iconcontrol/")";
            $(document).ready(function () {
                AttachmentGrid.Initial(LoG);
                AttachmentGrid.ChangePageLength(15);
            });

            function Expire() { window.location.replace('@Url.Content("~/Login")'); }
            function ChangeProxyType(sender) {@Html.Raw((isStillNATID ? "" : "var anyIDValue = document.getElementById(\"anyIDValue\");if (sender.value == \"" + AnyIDModel.AnyIDType.MSISDN.ToString() + "\") {anyIDValue.disabled = false;anyIDValue.value = \"" + (isPerson ? person_Data.MobilePhoneNo : "") + "\";}else if (sender.value == \"" + AnyIDModel.AnyIDType.NATID.ToString() + "\") {anyIDValue.disabled = true;anyIDValue.value = \"" + data.IDNo + "\";}")) }

            function GetConfirm() {
                $.ajax({
                    cache: false,
                    type: 'GET',
                    dataType: "json",
                    data: {},
                    url: '@Url.Content("~/CreateRegistration/Comfirm")',
                    success: function (data) {
                        if (data.responseCode == "000") {
                            ChangeViewPoint(data.html);
                        }
                        else { ErrorException999(data.responseCode + ", " + data.responseText + "; " + data.html); }
                        loading.Hide();
                    },
                    error: function (e) {
                        alert("Error Exception");
                        console.log(e);
                    }
                });
            }


            var ConfirmAttachmentGrid;
            function SendCreate(sender, urlAction) {
                sender.disabled = true; validateEmpty("accNo", false); validateEmpty("anyIDValue", false);
                var isPass = true;
                if ($("#accNo").val() == null || $("#accNo").val() == "") { isPass = false; validateEmpty("accNo", true); document.getElementById("accNo").focus(); }
                if ($("#anyIDValue").val() == null || $("#anyIDValue").val() == "") { isPass = false; validateEmpty("anyIDValue", true); document.getElementById("anyIDValue").focus(); }

                if (isPass) {
                    loading.Show();
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        dataType: "json",
                        data: {
                            anyIDType: $("#anyIDType").val(),
                            anyIDValue: $("#anyIDValue").val(),
                            accountNo: $("#accNo").val().split(':')[0],
                            accountName: $("#accName").val()
                        },
                        url: urlAction,
                        success: function (data) {
                            if (data.responseCode == "000") { GetConfirm(); sender.disabled = false; }
                            else if (data.responseCode == "500") { Expire(); }
                            else {
                                if (data.responseCode == "") { alert(data.responseText); }
                                else if (data.responseCode == "101") {
                                    validateEmpty("anyIDValue", true);
                                    document.getElementById("anyIDValue").focus();
                                }
                                else if (data.responseCode == "102") {
                                    validateEmpty("accNo", true);
                                    document.getElementById("accNo").focus();
                                }
                                else { ErrorException999(data.responseCode + ", " + data.responseText + "; " + data.html); }
                                loading.Hide();
                                sender.disabled = false;
                            }
                        },
                        error: function (e) {
                            alert("Error Exception");
                            console.log(e);
                            sender.disabled = false;
                        }
                    });
                }
                else { sender.disabled = false; }
            }
            function SendConfirm(urlAction) {
                loading.Show();
                $.ajax({
                    cache: false,
                    type: 'POST',
                    dataType: "json",
                    data: { otp: ($("#otpConfirm") ? $("#otpConfirm").val() : "") },
                    url: urlAction,
                    success: function (data) {
                        if (data.responseCode == "000") { document.getElementById("btnBack").click(); }
                        else if (data.responseCode == "500") { Expire(); }
                        else if (data.responseCode == "999") { ErrorException999(data.responseCode + ", " + data.responseText + "; " + data.html); loading.Hide(); }
                        else { alert(data.html); loading.Hide(); }
                    },
                    error: function (e) {
                        alert("Error Exception");
                        console.log(e);
                    }
                });
            }
            function Re_OTP(urlAction) {
                loading.Show();
                $.ajax({
                    cache: false,
                    type: 'POST',
                    dataType: "json",
                    data: {},
                    url: urlAction,
                    success: function (data) {
                        if (data.responseCode == "000") {
                            document.getElementById("otpRef").innerHTML = data.html;
                            $("#otpConfirm").val("");
                            loading.Hide();
                        }
                        else if (data.responseCode == "500") { Expire(); }
                        else {
                            ErrorException999(data.responseCode + ", " + data.responseText + "; " + data.html);
                            $("#otpConfirm").val("");
                            loading.Hide();
                        }
                    },
                    error: function (e) {
                        alert("Error Exception");
                        console.log(e);
                    }
                });
            }
            function ChangeAccount(sender) { var accD = $(sender).val().split(":"); $("#accName").val(accD[1]); }
            function validateEmpty(sender, show) { var s = document.getElementById(sender); var vs = document.getElementById("v" + sender); s.style.border = (show == true ? "1px solid red" : "1px solid #a9a9a9"); vs.style.display = (show == true ? "table" : "none"); }
            function ChangeViewPoint(d) {
                if (document.getElementById("displayUserInfo").alt != "expand") {
                    document.getElementById("displayUserInfo").click();
                }

                var createPoint = document.getElementById("createPoint");
                var confirmPoint = document.getElementById("confirmPoint");
                createPoint.style.display = (createPoint.style.display == "block" ? "none" : "block");
                confirmPoint.style.display = (confirmPoint.style.display == "block" ? "none" : "block");

                if (d == null || d == "") {
                    if (ConfirmAttachmentGrid) { ConfirmAttachmentGrid = null; }
                    document.getElementById("confirmPoint").innerHTML = "";
                }
                else {
                    document.getElementById("confirmPoint").innerHTML = d;
                    ConfirmAttachmentGrid = new isabayaDataTable("ConfirmAttachmentGrid", imgUrl);
                    ConfirmAttachmentGrid.Initial(LoG);
                    ConfirmAttachmentGrid.ChangePageLength(15);
                }
            }
        </script>
    }
    <table style="font-family:ClanOT_Narrow;width:100%;font-size:14px;">
        <tr>
            <td class="BGKKGray" style="border-style:solid; border-color:white; border-width: 0px 0px 2px 0px; height:30px; padding:0 5px;">
                <span style="font-weight:bold;color:black;">ข้อมูลการลงทะเบียน AnyID</span>
            </td>
        </tr>
        <tr>
            <td class="BGKKBlue" style="border-style:solid; border-color:white; border-width: 2px 2px 0px 2px; height:30px; padding:0 5px;">
                <span style="font-weight:bold; color:white;">ข้อมูลลูกค้า</span>&nbsp;&nbsp;<img id="displayUserInfo" alt="expand" src="@Url.Content("~/Images/expand.png")" style="cursor:pointer;width:18px;" onclick="if (this.alt == 'collapse') { this.alt = 'expand'; this.src = '@Url.Content("~/Images/expand.png")';document.getElementById('userinfo').style.display='none'; }else{this.alt = 'collapse'; this.src = '@Url.Content("~/Images/collapse.png")';document.getElementById('userinfo').style.display='table'; }" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px 0px;">
                <table id="userinfo" class="page-table" style="color:black;display:none;">
                    <tr class="page-borderGray" style="border-width:2px">
                        <td>
                            <span style="font-weight:bold;">Segment:</span>
                        </td>
                        <td>
                            @data.CustomerSegment
                        </td>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td>
                                        <span style="font-weight:bold;">RM:</span>
                                    </td>
                                    <td>
                                        @data.CustomerRM
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="2">
                            <table style="width:100%;">
                                <tr>
                                    <td style="text-align:right;">
                                        <span style="font-weight:bold;">Main Branch:</span>
                                    </td>
                                    <td>
                                        @CommonUtilities.CustomerInfo.GetBranchFromCIS(data.HomeBranchCode)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">ชื่อ-นามสกุล:</span>
                        </td>
                        <td>
                            @Html.Raw(data.FullNameThai)
                        </td>
                        <td>
                            <span style="font-weight:bold;">Name-Surname:</span>
                        </td>
                        <td>
                            @Html.Raw(isPerson ? (person_Data.FirstNameEnglish + " " + person_Data.LastNameEnglish) : org_Data.NameEnglish)
                        </td>
                        <td>
                            <span style="font-weight:bold;">CIS ID:</span>
                        </td>
                        <td>
                            @data.CISID
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">ประเภทบัตร:</span>
                        </td>
                        <td>
                            @Html.Raw(CommonUtilities.CardType(new Dictionary<string, string>())[data.IDType.ToString()])
                        </td>
                        <td>
                            <span style="font-weight:bold;">เลขที่บัตร:</span>
                        </td>
                        <td>
                            @data.IDNo
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">วันเดือนปีเกิด:</span>
                        </td>
                        <td>
                            @Html.Raw(isPerson ? CommonUtilities.CustomerInfo.GetBtirthDate(person_Data.BirthDate) : "N/A")
                        </td>
                        <td>
                            <span style="font-weight:bold;">สถานะสมรส:</span>
                        </td>
                        <td>
                            @Html.Raw(isPerson ? person_Data.MaritalStatus : "N/A")
                        </td>
                        <td>
                            <span style="font-weight:bold;">เพศ:</span>
                        </td>
                        <td>
                            @Html.Raw(isPerson ? (person_Data.Gender == "F" ? "หญิง" : (person_Data.Gender == "M" ? "ชาย" : "")) : "N/A")
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">ที่อยู่ตามทะเบียนบ้าน:</span>
                        </td>
                        <td colspan="5">
                            @data.RegisteredAddress
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">ที่อยู่ปัจจุบัน:</span>
                        </td>
                        <td colspan="5">
                            @data.CurrentAddress
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">ที่อยู่จัดส่งเอกสาร:</span>
                        </td>
                        <td colspan="5">
                            @data.MailingAddress
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">โทรศัพท์บ้าน:</span>
                        </td>
                        <td>
                            @Html.Raw(isPerson ? person_Data.HomePhoneNo : "N/A")
                        </td>
                        <td>
                            <span style="font-weight:bold;">โทรศัพท์มือถือ:</span>
                        </td>
                        <td>
                            @Html.Raw(isPerson ? person_Data.MobilePhoneNo : "N/A")
                        </td>
                        <td>
                            <span style="font-weight:bold;">โทรศัพท์ที่ทำงาน:</span>
                        </td>
                        <td>
                            @data.OfficePhoneNo
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">email:</span>
                        </td>
                        <td colspan="5">
                            @data.EmailAddress
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:0px 2px">
                        <td>
                            <span style="font-weight:bold;">สถานที่ทำงาน:</span>
                        </td>
                        <td colspan="5">
                            @data.OfficeAddress
                        </td>
                    </tr>
                    <tr class="page-borderGray" style="border-width:2px">
                        <td>
                            <span style="font-weight:bold;">FATCA:</span>
                        </td>
                        <td>
                            @CommonUtilities.CustomerInfo.GetFATCA(data.FATCA)
                        </td>
                        <td>
                            <span style="font-weight:bold;">Sanction List:</span>
                        </td>
                        <td>
                            @CommonUtilities.CustomerInfo.GetSanctionListFromCIS(data.Sanction)
                        </td>
                        <td>
                            <span style="font-weight:bold;">ระดับความเสี่ยงฟอกเงิน:</span>
                        </td>
                        <td>
                            @CommonUtilities.CustomerInfo.GetNomineeLevel(data.KYCLevel)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="createPoint" style="display:block;">
        <table class="page-borderGray" style="font-family:ClanOT_Narrow;width:100%;font-size:14px;margin-top:30px;border-width:2px;">
            <tr>
                <td style="padding:0px 3px 0px 0px !important;"></td>
                <td colspan="4" style="padding:0px 0px 4px 0px !important;"></td>
                <td style="padding:0px 3px 0px 0px !important;"></td>
            </tr>
            <tr>
                <td style="padding:0px 3px 0px 0px !important;"></td>
                <td colspan="4" class="BGKKBlue" style="height:30px;padding:0px 5px;">
                    <span style="font-weight:bold;color:white;">ลงทะเบียน AnyID</span>
                </td>
                <td style="padding:0px 3px 0px 0px !important;"></td>
            </tr>
            <tr>
                <td style="padding:0px 3px 0px 0px !important;"></td>
                <td style="padding:5px;">
                    <span style="font-weight:bold;color:black;">ประเภท AnyID</span>
                    <span style="font-weight:bold;color:red;">*</span>
                    <span style="font-weight:bold;color:black;">:</span>
                </td>
                <td style="padding:5px;">
                    <select id="anyIDType" class="page-SelFontEN" style="width:210px;" onchange="ChangeProxyType(this);">
                        @if (isStillNATID)
                        {
                            foreach (string item in CommonUtilities.AnyIDType(new string[1]))
                            {
                                string[] keyValue = item.Split(':');
                                if (keyValue[0] == AnyIDModel.AnyIDType.NATID.ToString()) { continue; }
                                @Html.Raw("<option value=\"" + keyValue[0] + "\">" + keyValue[1] + "</option>");
                            }
                        }
                        else
                        {
                            foreach (string item in CommonUtilities.AnyIDType(new string[1]))
                            {
                                string[] keyValue = item.Split(':');
                                @Html.Raw("<option value=\"" + keyValue[0] + "\" " + (keyValue[0] == AnyIDModel.AnyIDType.NATID.ToString() ? "selected" : "") + ">" + keyValue[1] + "</option>");
                            }
                        }
                    </select>
                </td>
                <td style="padding:5px;">
                    <span style="font-weight:bold;color:black;">AnyID</span>
                    <span style="font-weight:bold;color:red;">*</span>
                    <span style="font-weight:bold;color:black;">:</span>
                </td>
                <td style="padding:5px;">
                    @if (!isStillNATID)
                    {
                        <input id="anyIDValue" type="text" style="height:30px;width:210px;font-family:ClanOT_Narrow;font-size:14px;float:left;" disabled value="@data.IDNo" />
                    }
                    else
                    {
                        <input id="anyIDValue" type="text" style="height:30px;width:210px;font-family:ClanOT_Narrow;font-size:14px;float:left;" value="@Html.Raw(isPerson ? person_Data.MobilePhoneNo : "N/A")" />
                    }
                    <table id="vanyIDValue" class="page-validate" style="display:none;">
                        <tr>
                            <td style="padding:0 5px;">
                                <span style="font-family:ClanOT_Narrow;font-size:14px;white-space:nowrap;color:white;">กรุณาระบุ : AnyID</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="padding:0px 3px 0px 0px !important;"></td>
            </tr>
            <tr>
                <td style="padding:0px 3px 0px 0px !important;"></td>
                <td style="padding:5px;">
                    <span style="font-weight:bold;color:black;">เลขที่บัญชี</span>
                    <span style="font-weight:bold;color:red;">*</span>
                    <span style="font-weight:bold;color:black;">:</span>
                </td>
                <td style="padding:5px;">
                    <select id="accNo" class="page-SelFontEN" style="width:210px;float:left;" onchange="ChangeAccount(this);">
                        <option value="">-- please select --</option>
                        @foreach (iSabaya.BankAccount item in dataAcc)
                        {
                            @Html.Raw("<option value=\"" + item.AccountNo + ":" + item.Name + "\">" + item.AccountNo + "</option>");
                        }
                    </select>
                    <table id="vaccNo" class="page-validate" style="display:none;">
                        <tr>
                            <td style="padding:0 5px;">
                                <span style="font-family:ClanOT_Narrow;font-size:14px;white-space:nowrap;color:white;">กรุณาระบุ : เลขที่บัญชี</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="padding:5px;">
                    <span style="font-weight:bold;color:black;">ชื่อบัญชี:</span>
                </td>
                <td style="padding:5px;">
                    <input id="accName" type="text" style="height:30px;width:210px;font-family:ClanOT_Narrow;font-size:14px;" disabled />
                </td>
                <td style="padding:0px 3px 0px 0px !important;"></td>
            </tr>
            <tr>
                <td style="padding:0px 3px 0px 0px !important;"></td>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td class="BGKKBlue" style="padding:5px;">
                                <span style="font-weight:bold;color:white;">เอกสารแนบ</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td style="padding:5px;">
                                            <span style=" font-weight:bold;color:black;">ประเภทเอกสาร:</span>
                                        </td>
                                        <td style="padding:5px;">
                                            <select id="docType" class="page-SelFontEN">
                                                @foreach (string item in CommonUtilities.DocumentType())
                                                {
                                                    @Html.Raw("<option value=\"" + item + "\">" + item + "</option>");
                                                }
                                            </select>
                                        </td>
                                        <td style="padding:5px;">
                                            <input id="fileUploadButton" type="button" class="ibtn ibtn-primary" value="Browse" style="width:80px;" onclick="var iframe = $('#iUpload').contents(); iframe.find('#fileUpload').click();" />
                                            <script type="text/javascript">
                                                function uploadfile() {
                                                    loading.Show();
                                                    var iframe = $('#iUpload').contents();
                                                    iframe.find('#fileDocType').val($("#docType").val());
                                                    iframe.find('#formUploadFile').submit();
                                                }
                                                function uploadComplete() {
                                                    $.ajax({
                                                        cache: false,
                                                        type: 'GET',
                                                        dataType: "json",
                                                        data: {},
                                                        url: '@Url.Content("~/CreateRegistration/GetAttachFile")',
                                                        success: function (data) {
                                                            if (data.responseCode == "000") {
                                                                var iframe = document.getElementById('iUpload'); iframe.src = iframe.src;
                                                                AttachmentGrid.UpdateDataGrid(data.html);
                                                            }
                                                            else if (data.responseCode == "500") { window.location.replace('@Url.Content("~/Login")'); }
                                                            else {
                                                                var iframe = document.getElementById('iUpload'); iframe.src = iframe.src;
                                                                ErrorException999(data.responseCode + ", " + data.responseText + "; " + data.html);
                                                            }
                                                        },
                                                        error: function (e) {
                                                            alert("Error Exception");
                                                            console.log(e);
                                                        }
                                                    });
                                                }

                                                function uploadExpire() { window.location.replace('@Url.Content("~/Login")'); }
                                                function uploadError(s) { var iframe = document.getElementById('iUpload'); iframe.src = iframe.src; alert(s); }

                                                function confirmDelAttachFile(s, filename)
                                                {
                                                    $("#attachFilename").text(filename);
                                                    $("#attachFileKey").val(s);
                                                    ConfirmDelAttachFile.Show();
                                                }
                                                function deleteAttach(s) {
                                                    ConfirmDelAttachFile.Hide();
                                                    loading.Show();
                                                    $.ajax({
                                                        cache: false,
                                                        type: 'POST',
                                                        dataType: "json",
                                                        data: { actionRef: s },
                                                        url: '@Url.Content("~/CreateRegistration/DeleteAttachFile")',
                                                        success: function (data) {
                                                            if (data.responseCode == "000") { AttachmentGrid.UpdateDataGrid(data.html); }
                                                            else if (data.responseCode == "500") { window.location.replace('@Url.Content("~/Login")'); }
                                                            else {
                                                                ErrorException999(data.responseCode + ", " + data.responseText + "; " + data.html);
                                                            }
                                                            loading.Hide();
                                                        },
                                                        error: function (e) {
                                                            alert("Error Exception");
                                                            console.log(e);
                                                        }
                                                    });
                                                }
                                            </script>
                                            <iframe id="iUpload" src="@Url.Content("~/CreateRegistration/_Form")" style="display:none;"></iframe>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.iSabayaDataTable(new iSabayaDataTableSettings()
                               {
                                   Name = "AttachmentGrid",
                                   Url = Url,
                                   Columns = new List<string>() { "No.", "ชื่อไฟล์", "ประเภทเอกสาร", "ดำเนินการโดย", "วันที่ดำเนินการ", "Action" },
                                   PageLengthShowingText = "แสดง",
                                   PageLength = new List<string>() { "15", "25", "50", "100" },
                                   PageLengthEntriesText = "รายการ",
                               })
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;padding:30px 0;">
                                <input type="button" class="ibtn ibtn-primary" value="Submit" style="width:80px;" onclick="SendCreate(this, '@Url.Content("~/CreateRegistration/CreateAnyID")');" />
                                &nbsp;&nbsp;
                                <input type="button" class="ibtn ibtn-primary" value="Reset" style="width:80px;" onclick="window.location.replace('@Url.Content("~/CreateRegistration?k=" + ViewData["RefSession"])')" />
                                &nbsp;&nbsp;
                                <input type="button" id="btnBack" class="ibtn ibtn-primary" value="Back" style="width:80px;" onclick="window.location.replace('@Url.Content("~/ViewCustomer" + ViewData["PrevScreen_Session"])')" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="padding:0px 3px 0px 0px !important;"></td>
            </tr>
        </table>
    </div>
    <div id="confirmPoint" style="display:none;"></div>
    @Html.iSabayaPopup(new iSabayaPopupSettings()
    {
        Name = "ConfirmDelAttachFile",
        CloseOnClickOutside = false,
        Width = "370",
        TemplateContent = "<table style=\"font-family:ClanOT_Narrow !important;font-size:14px;width:350px;margin:0 auto;\"><tr><td style=\"width:40px;\"><img alt=\"\" style=\"width:40px;\" src=\"" + Url.Content("~/Images/help.png") + "\" /></td><td style=\"padding-left:20px;\"><span style=\"color:black;\">ต้องการลบเอกสารแนบ '<span id=\"attachFilename\"></span>' ใช่หรือไม่?</span><input type=\"hidden\" id=\"attachFileKey\" /></td></tr><tr><td colspan=\"2\" style=\"height:20px;\"></td></tr><tr><td colspan=\"2\" style=\"text-align:center;\"><input type=\"button\" class=\"ibtn ibtn-primary\" style=\"width:80px;\" value=\"OK\" onclick=\"deleteAttach($('#attachFileKey').val());\" />&nbsp;&nbsp;<input type=\"button\" class=\"ibtn ibtn-primary\" style=\"width:80px;\" value=\"Cancel\" onclick=\"ConfirmDelAttachFile.Hide();\" /></td></tr></table>",
    })
}
